<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler open-menu" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fa fa-bars"></i></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("app_index") }}"> <img src="{{ asset("build/img/logo.png") }}" alt="logo"> </a>
                    {% include "_part/_navbar.html.twig" %}
                    <div class="header_icon d-flex">
                        <form action="#" method="POST">
                            <div class="search_bar">
                                <i type="text" class="search-click fa fa-search"></i>
                            </div>
                        </form>
                        <a href=""><i class="ti-heart d-none d-md-block d-lg-block d-xl-block"></i></a>
                        <div class="dropdown cart d-none d-md-block d-lg-block d-xl-block">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cart-plus"><span>5</span></i>
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="single_product">

                                </div>
                            </div> -->

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {% include '_part/_sidebar.html.twig' %}
    {% include '_part/_searchbar.html.twig' %}
</header>
<!-- Header part end-->