<div class="wrapper">

    <!-- Sidebar -->
    <nav class="sidebar">

        <!-- close sidebar menu -->
        <div class="dismiss">
            <i class="fa fa-times"></i>
        </div>

        <div class="logo">
            <a href="{{ path('app_index') }}"></a>
        </div>

        <ul class="list-unstyled menu-elements">
            <li class="active">
                <a class="scroll-link" href="#top-content"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a class="scroll-link" href="#section-1"><i class="fa fa-cog"></i> What we do</a>
            </li>
            <li>
                <a class="scroll-link" href="#section-2"><i class="fa fa-user"></i> About us</a>
            </li>
            <li>
                <a class="scroll-link" href="#section-5"><i class="fa fa-pencil"></i> Portfolio</a>
            </li>
            <li>
                <a class="scroll-link" href="#section-6"><i class="fa fa-envelope"></i> Contact us</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle otherSections" role="button" aria-controls="otherSections">
                    <i class="fas fa-sync"></i>Other sections
                </a>
                <ul class="collapse list-unstyled" id="otherSections">
                    <li>
                        <a class="scroll-link" href="#section-3">Our projects</a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#section-4">We think that...</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- End sidebar -->

    <!-- Content -->
    <div class="content">
    <!-- End content -->

</div>