{% extends 'base.html.twig'%}

{% block body %}
    <section class="cart_area padding_top">
        <div class="container pt-sm-5 pb-5">
            <div class="cart_inner">
                <div class="card cart-container">
                    <div class="card-block">
                        <div class="cart-overview js-cart" data-refresh-url="#">
                            <ul class="cart-items">
                                <li class="cart-item">
                                    <div class="product-line-grid">
                                        <div class="product-line-grid-left col-md-3 col-xs-4">
                                            <span class="product-image media-middle">
                                                <img src="https://store.roboticsbd.com/3992-cart_default/raspberry-pi-4-computer-complete-set-pack-2-robotics-bangladesh.jpg" alt="Raspberry Pi 4 Computer Complete Set Pack-2">
                                            </span>
                                        </div>
                                        <div class="product-line-grid-body float-lg-left col-md-4 col-xs-8">
                                            <div class="product-line-info">
                                                <a class="label_name" href="#" data-id_customization="0">
                                                    Raspberry Pi 4 Computer Complete Set Pack-2
                                                </a>
                                            </div>
                                            <div class="product-line-info product-price h5 ">
                                                <div class="current-price">
                                                    <span class="price">BDT&nbsp;23,720</span>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="product-line-info">
                                                <span class="label">MicroSD Card Size:</span>
                                                <span class="value">Sandisk 64GB Class 10 UHS-I microSDXC</span>
                                            </div>
                                            <div class="product-line-info">
                                                <span class="label">RAM:</span>
                                                <span class="value">8GB</span>
                                            </div>
                                        </div>

                                        <div class="product-line-grid-right product-line-actions float-lg-right col-md-5 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-4 hidden-md-up"></div>
                                                <div class="col-md-10 col-xs-6">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-6 qty">
                                                            <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="js-cart-line-product-quantity form-control" data-down-url="https://store.roboticsbd.com/cart?update=1&amp;id_product=1142&amp;id_product_attribute=171&amp;token=6826419682d5f50fd815fff1973a40b9&amp;op=down" data-up-url="https://store.roboticsbd.com/cart?update=1&amp;id_product=1142&amp;id_product_attribute=171&amp;token=6826419682d5f50fd815fff1973a40b9&amp;op=up" data-update-url="https://store.roboticsbd.com/cart?update=1&amp;id_product=1142&amp;id_product_attribute=171&amp;token=6826419682d5f50fd815fff1973a40b9" data-product-id="1142" type="text" value="1" name="product-quantity-spin" min="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-touchspin js-touchspin js-increase-product-quantity bootstrap-touchspin-up" type="button"><i class="material-icons touchspin-up"></i></button><button class="btn btn-touchspin js-touchspin js-decrease-product-quantity bootstrap-touchspin-down" type="button"><i class="material-icons touchspin-down"></i></button></span></div>
                                                        </div>
                                                        <div class="col-md-6 col-xs-2 price">
                                                            <span class="product-price">
                                                                <strong>
                                                                    BDT&nbsp;23,720
                                                                </strong>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-2 text-xs-right">
                                                    <div class="cart-line-product-actions">
                                                        <a class="remove-from-cart" rel="nofollow" href="https://store.roboticsbd.com/cart?delete=1&amp;id_product=1142&amp;id_product_attribute=171&amp;token=6826419682d5f50fd815fff1973a40b9" data-link-action="delete-from-cart" data-id-product="1142" data-id-product-attribute="171" data-id-customization="">
                                                            <i class="fa fa-trash float-xs-left"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}