.checkout_area {
  .billing_details {
    h3, label {
      color: $white;
    }
    input::placeholder {
      color: $black;
    }
  }
  .billing_details h3 {
    border-bottom: 1px solid #eeeeee;
  }
  .bg {
    background-color: $secondary_color;
  }
}